USE [Session3]
GO
/****** Object:  Table [dbo].[AddonServiceDetails]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddonServiceDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[AddonServiceID] [bigint] NOT NULL,
	[ServiceID] [bigint] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[Notes] [nvarchar](250) NOT NULL,
	[NumberOfPeople] [bigint] NOT NULL,
	[isRefund] [bit] NOT NULL,
 CONSTRAINT [PK_AddonServiceDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddonServices]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddonServices](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[CouponID] [bigint] NULL,
 CONSTRAINT [PK_AddonServices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IconName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Amenities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attractions]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attractions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[AreaID] [bigint] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [varchar](500) NOT NULL,
 CONSTRAINT [PK_SightseeingLocations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[ItemPriceID] [bigint] NOT NULL,
	[isRefund] [bit] NOT NULL,
	[RefundDate] [date] NULL,
	[RefundCancellationPoliciyID] [bigint] NULL,
 CONSTRAINT [PK_BookingDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[CouponID] [bigint] NULL,
	[TransactionID] [bigint] NULL,
	[AmountPaid] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancellationPolicies]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancellationPolicies](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Commission] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_CancellationPolicies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancellationRefundFees]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancellationRefundFees](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CancellationPolicyID] [bigint] NOT NULL,
	[DaysLeft] [int] NOT NULL,
	[PenaltyPercentage] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_CancellationRefundFees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[CouponCode] [nvarchar](50) NOT NULL,
	[DiscountPercent] [decimal](4, 1) NOT NULL,
	[MaximimDiscountAmount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDates]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDates](
	[ID] [bigint] NOT NULL,
	[Date] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[MonthName] [varchar](10) NOT NULL,
	[DayOfMonth] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[DayName] [varchar](10) NOT NULL,
	[isHoliday] [bit] NOT NULL,
 CONSTRAINT [PK_DimDates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemAmenities]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAmenities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[AmenityID] [bigint] NOT NULL,
 CONSTRAINT [PK_PlaceAmenities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemAttractions]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemAttractions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[AttractionID] [bigint] NOT NULL,
	[Distance] [decimal](5, 1) NULL,
	[DurationOnFoot] [bigint] NULL,
	[DurationByCar] [bigint] NULL,
 CONSTRAINT [PK_PlaceSightseeingLocations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPictures]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPictures](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[PictureFileName] [varchar](500) NOT NULL,
 CONSTRAINT [PK_PlacePictures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPrices]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPrices](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[Date] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CancellationPolicyID] [bigint] NOT NULL,
 CONSTRAINT [PK_PlacePrices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ItemTypeID] [bigint] NOT NULL,
	[AreaID] [bigint] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[NumberOfBeds] [int] NOT NULL,
	[NumberOfBedrooms] [int] NOT NULL,
	[NumberOfBathrooms] [int] NOT NULL,
	[ExactAddress] [varchar](500) NOT NULL,
	[ApproximateAddress] [varchar](250) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[HostRules] [nvarchar](2000) NOT NULL,
	[MinimumNights] [int] NOT NULL,
	[MaximumNights] [int] NOT NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemScores]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemScores](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ItemID] [bigint] NOT NULL,
	[ScoreID] [bigint] NOT NULL,
	[Value] [bigint] NOT NULL,
 CONSTRAINT [PK_ItemScores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTypes]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PlaceTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ServiceTypeID] [bigint] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Duration] [bigint] NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[DayOfWeek] [nvarchar](100) NOT NULL,
	[DayOfMonth] [nvarchar](100) NOT NULL,
	[DailyCap] [bigint] NOT NULL,
	[BookingCap] [bigint] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[IconName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ServiceTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[TransactionTypeID] [bigint] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[GatewayReturnID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[UserTypeID] [bigint] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[FamilyCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 10/15/2022 2:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddonServiceDetails] ON 

INSERT [dbo].[AddonServiceDetails] ([ID], [GUID], [AddonServiceID], [ServiceID], [Price], [FromDate], [Notes], [NumberOfPeople], [isRefund]) VALUES (1, N'02e20a1f-3272-452d-ad9d-b66941d4df97', 1, 45, CAST(864.50 AS Decimal(10, 2)), CAST(N'2022-10-15T00:00:00.000' AS DateTime), N' ---- ', 205, 0)
INSERT [dbo].[AddonServiceDetails] ([ID], [GUID], [AddonServiceID], [ServiceID], [Price], [FromDate], [Notes], [NumberOfPeople], [isRefund]) VALUES (2, N'4cd9ec78-8f6a-45ca-a342-32bac85a32e4', 2, 45, CAST(65.00 AS Decimal(10, 2)), CAST(N'2022-10-15T00:00:00.000' AS DateTime), N'   ***  ', 5, 0)
INSERT [dbo].[AddonServiceDetails] ([ID], [GUID], [AddonServiceID], [ServiceID], [Price], [FromDate], [Notes], [NumberOfPeople], [isRefund]) VALUES (3, N'b6fb076b-a792-4322-8669-b8b23fbeed12', 3, 39, CAST(5740.00 AS Decimal(10, 2)), CAST(N'2022-10-15T00:00:00.000' AS DateTime), N' ---- ', 41, 0)
SET IDENTITY_INSERT [dbo].[AddonServiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[AddonServices] ON 

INSERT [dbo].[AddonServices] ([ID], [GUID], [UserID], [CouponID]) VALUES (1, N'68144ae1-749b-4e9f-86dc-be4b2d95d226', 3, 2)
INSERT [dbo].[AddonServices] ([ID], [GUID], [UserID], [CouponID]) VALUES (2, N'2d8feccc-63e2-4b1f-82f3-80ada470f5f1', 3, NULL)
INSERT [dbo].[AddonServices] ([ID], [GUID], [UserID], [CouponID]) VALUES (3, N'2a50b37d-558a-4867-bc4d-1d75a6004ee6', 2, NULL)
SET IDENTITY_INSERT [dbo].[AddonServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([ID], [GUID], [Name], [IconName]) VALUES (1, N'37647c60-15aa-4a41-8af3-2583496919c9', N'Parking', N'001-home.png')
INSERT [dbo].[Amenities] ([ID], [GUID], [Name], [IconName]) VALUES (2, N'488716b5-9323-4335-85eb-e17b78b5ba64', N'Free Wifi', N'028-connection.png')
INSERT [dbo].[Amenities] ([ID], [GUID], [Name], [IconName]) VALUES (3, N'af861aa0-3828-4845-b013-2e0bb33a36e2', N'Room Service', N'274-checkmark2.png')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([ID], [GUID], [Name]) VALUES (1, N'2c64db74-3d74-46f6-bf61-2e6869e49a59', N'Dobong-gu')
INSERT [dbo].[Areas] ([ID], [GUID], [Name]) VALUES (2, N'4f7bbac7-6d44-4662-bcd5-174bec2e0d59', N'Dongdaemun-gu')
INSERT [dbo].[Areas] ([ID], [GUID], [Name]) VALUES (3, N'e65838a5-3e1c-4631-8909-d76601d9d859', N'Eunpyeong-gu')
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
SET IDENTITY_INSERT [dbo].[Attractions] ON 

INSERT [dbo].[Attractions] ([ID], [GUID], [AreaID], [Name], [Address]) VALUES (1, N'670c374a-5fe5-4065-9f1e-18ed5d7232d6', 1, N'Dobongsan', N'30 Thompson Street')
INSERT [dbo].[Attractions] ([ID], [GUID], [AreaID], [Name], [Address]) VALUES (2, N'c21b75a4-089b-4f5b-bc24-fd89139dbf08', 2, N'Cheongnyangni Station', N'Front Royal, VA 22630')
INSERT [dbo].[Attractions] ([ID], [GUID], [AreaID], [Name], [Address]) VALUES (3, N'500919eb-eb16-4456-816e-7fe606a8b2e4', 2, N'Gyeongdong Market', N'59 Ann Circle')
GO
SET IDENTITY_INSERT [dbo].[Attractions] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingDetails] ON 

INSERT [dbo].[BookingDetails] ([ID], [GUID], [BookingID], [ItemPriceID], [isRefund], [RefundDate], [RefundCancellationPoliciyID]) VALUES (1, N'4140c8d7-0acf-4e3b-98ab-c7990ecb90e4', 1, 2, 1, CAST(N'2022-10-08' AS Date), 1)
INSERT [dbo].[BookingDetails] ([ID], [GUID], [BookingID], [ItemPriceID], [isRefund], [RefundDate], [RefundCancellationPoliciyID]) VALUES (2, N'73bb1dac-a6f7-4082-8a6d-2f471091083a', 2, 11, 1, CAST(N'2022-10-11' AS Date), 2)
INSERT [dbo].[BookingDetails] ([ID], [GUID], [BookingID], [ItemPriceID], [isRefund], [RefundDate], [RefundCancellationPoliciyID]) VALUES (3, N'31cd25f0-90ff-4c18-98bd-5d38c2574f08', 2, 12, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BookingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([ID], [GUID], [UserID], [BookingDate], [CouponID], [TransactionID], [AmountPaid]) VALUES (1, N'2f9fcc80-461a-4153-8a58-4037a5663b4a', 4, CAST(N'2022-09-10T00:00:00.000' AS DateTime), 1, 1, CAST(90.00 AS Decimal(18, 2)))
INSERT [dbo].[Bookings] ([ID], [GUID], [UserID], [BookingDate], [CouponID], [TransactionID], [AmountPaid]) VALUES (2, N'befa7fbe-152a-4708-915d-7bd76075bdfc', 7, CAST(N'2022-10-01T00:00:00.000' AS DateTime), 1, 2, CAST(400.00 AS Decimal(18, 2)))
INSERT [dbo].[Bookings] ([ID], [GUID], [UserID], [BookingDate], [CouponID], [TransactionID], [AmountPaid]) VALUES (3, N'3b1c5a47-5b64-4b4c-8c48-4f2f14c60025', 4, CAST(N'2022-09-25T00:00:00.000' AS DateTime), NULL, 3, CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[CancellationPolicies] ON 

INSERT [dbo].[CancellationPolicies] ([ID], [GUID], [Name], [Commission]) VALUES (1, N'6cc083f6-c039-4ac2-acb2-12a0058b0f73', N'Flexible', CAST(7.00 AS Decimal(5, 2)))
INSERT [dbo].[CancellationPolicies] ([ID], [GUID], [Name], [Commission]) VALUES (2, N'490c3c20-8974-4e69-96bf-3066c25d06ba', N'Moderate', CAST(15.00 AS Decimal(5, 2)))
INSERT [dbo].[CancellationPolicies] ([ID], [GUID], [Name], [Commission]) VALUES (3, N'7bfa6503-471f-45c1-ab22-796db8f9d71d', N'Strict', CAST(25.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[CancellationPolicies] OFF
GO
SET IDENTITY_INSERT [dbo].[CancellationRefundFees] ON 

INSERT [dbo].[CancellationRefundFees] ([ID], [GUID], [CancellationPolicyID], [DaysLeft], [PenaltyPercentage]) VALUES (1, N'a036741a-5582-44a0-a20d-5484ce3fa570', 1, 7, CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[CancellationRefundFees] ([ID], [GUID], [CancellationPolicyID], [DaysLeft], [PenaltyPercentage]) VALUES (2, N'4d5e9b0f-f751-42af-a00a-2423503d857d', 1, 6, CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[CancellationRefundFees] ([ID], [GUID], [CancellationPolicyID], [DaysLeft], [PenaltyPercentage]) VALUES (3, N'335c5e75-0dc6-4a80-9b35-647b37e4bafc', 1, 5, CAST(15.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[CancellationRefundFees] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([ID], [GUID], [CouponCode], [DiscountPercent], [MaximimDiscountAmount]) VALUES (1, N'cf3292fe-8636-400f-8c3f-2b5c5551f004', N'Welcome15', CAST(15.0 AS Decimal(4, 1)), CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[Coupons] ([ID], [GUID], [CouponCode], [DiscountPercent], [MaximimDiscountAmount]) VALUES (2, N'0ce0b94f-112c-42dc-a110-314c5ba1308b', N'Holiday', CAST(5.0 AS Decimal(4, 1)), CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Coupons] ([ID], [GUID], [CouponCode], [DiscountPercent], [MaximimDiscountAmount]) VALUES (3, N'4a33cb47-ac38-48f8-88d2-97f103ad75a7', N'seoul', CAST(2.0 AS Decimal(4, 1)), CAST(50.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
INSERT [dbo].[DimDates] ([ID], [Date], [Year], [Quarter], [Month], [MonthName], [DayOfMonth], [DayOfWeek], [DayName], [isHoliday]) VALUES (20180101, CAST(N'2018-01-01' AS Date), 2018, 1, 1, N'January', 1, 2, N'Monday', 1)
INSERT [dbo].[DimDates] ([ID], [Date], [Year], [Quarter], [Month], [MonthName], [DayOfMonth], [DayOfWeek], [DayName], [isHoliday]) VALUES (20180102, CAST(N'2018-01-02' AS Date), 2018, 1, 1, N'January', 2, 3, N'Tuesday', 0)
INSERT [dbo].[DimDates] ([ID], [Date], [Year], [Quarter], [Month], [MonthName], [DayOfMonth], [DayOfWeek], [DayName], [isHoliday]) VALUES (20180103, CAST(N'2018-01-03' AS Date), 2018, 1, 1, N'January', 3, 4, N'Wednesday', 0)
GO
SET IDENTITY_INSERT [dbo].[ItemAmenities] ON 

INSERT [dbo].[ItemAmenities] ([ID], [GUID], [ItemID], [AmenityID]) VALUES (1, N'd71e48f1-a38f-40e5-9185-54635f8276b6', 5, 1)
INSERT [dbo].[ItemAmenities] ([ID], [GUID], [ItemID], [AmenityID]) VALUES (2, N'ca76fcd9-120c-42e9-8e09-fe90010050bf', 7, 1)
INSERT [dbo].[ItemAmenities] ([ID], [GUID], [ItemID], [AmenityID]) VALUES (3, N'ddea27c2-b94a-410d-b047-2b695b237b9a', 12, 1)
SET IDENTITY_INSERT [dbo].[ItemAmenities] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemAttractions] ON 

INSERT [dbo].[ItemAttractions] ([ID], [GUID], [ItemID], [AttractionID], [Distance], [DurationOnFoot], [DurationByCar]) VALUES (2, N'14d11e4a-26af-46b0-9d78-bbdd4c13e779', 4, 3, CAST(88.1 AS Decimal(5, 1)), 141, 9)
INSERT [dbo].[ItemAttractions] ([ID], [GUID], [ItemID], [AttractionID], [Distance], [DurationOnFoot], [DurationByCar]) VALUES (3, N'a6194820-2b14-46ea-984c-bcfd3a1e98e7', 7, 3, CAST(34.8 AS Decimal(5, 1)), 76, 22)
INSERT [dbo].[ItemAttractions] ([ID], [GUID], [ItemID], [AttractionID], [Distance], [DurationOnFoot], [DurationByCar]) VALUES (4, N'9709cb20-d032-47b6-9bf5-a90161594318', 9, 4, CAST(17.6 AS Decimal(5, 1)), 97, 40)
GO
SET IDENTITY_INSERT [dbo].[ItemAttractions] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemPictures] ON 

INSERT [dbo].[ItemPictures] ([ID], [GUID], [ItemID], [PictureFileName]) VALUES (1, N'61cb30f1-828c-4bf5-86d9-89f1504f8f50', 3, N'130825497.jpg')
INSERT [dbo].[ItemPictures] ([ID], [GUID], [ItemID], [PictureFileName]) VALUES (3, N'af89c680-6f42-40a3-b327-c03f7981418d', 5, N'145356030.jpg')
INSERT [dbo].[ItemPictures] ([ID], [GUID], [ItemID], [PictureFileName]) VALUES (5, N'649a23c9-1e13-48d4-add1-8ff21ecbfe8e', 2, N'145356040.jpg')
GO
SET IDENTITY_INSERT [dbo].[ItemPictures] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemPrices] ON 

INSERT [dbo].[ItemPrices] ([ID], [GUID], [ItemID], [Date], [Price], [CancellationPolicyID]) VALUES (1, N'dfe5de3b-8b77-43c2-bfff-046dc70a5e9e', 18, CAST(N'2022-10-10' AS Date), CAST(100.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[ItemPrices] ([ID], [GUID], [ItemID], [Date], [Price], [CancellationPolicyID]) VALUES (2, N'd85c42a1-417d-40df-b623-c442fe49abe1', 18, CAST(N'2022-10-11' AS Date), CAST(100.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[ItemPrices] ([ID], [GUID], [ItemID], [Date], [Price], [CancellationPolicyID]) VALUES (3, N'e66af364-98c4-4295-9780-9bbf4e11d01a', 18, CAST(N'2022-10-12' AS Date), CAST(100.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[ItemPrices] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemScores] ON 

INSERT [dbo].[ItemScores] ([ID], [GUID], [UserID], [ItemID], [ScoreID], [Value]) VALUES (4, N'e9048f72-8df8-4a9b-b574-4c445e544008', 7, 19, 2, 5)
INSERT [dbo].[ItemScores] ([ID], [GUID], [UserID], [ItemID], [ScoreID], [Value]) VALUES (5, N'4733939d-e692-456c-b0de-1d4911268733', 7, 19, 3, 5)
INSERT [dbo].[ItemScores] ([ID], [GUID], [UserID], [ItemID], [ScoreID], [Value]) VALUES (6, N'f6c62d9c-adba-4624-bb49-f2cce1d4e5f1', 4, 19, 3, 2)
SET IDENTITY_INSERT [dbo].[ItemScores] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemTypes] ON 

INSERT [dbo].[ItemTypes] ([ID], [GUID], [Name]) VALUES (1, N'60b72778-02fd-4602-a7a7-84f9ae17a6c2', N'Apartment')
INSERT [dbo].[ItemTypes] ([ID], [GUID], [Name]) VALUES (2, N'dffe3bca-92b1-4760-8371-1cf145fd772c', N'House')
INSERT [dbo].[ItemTypes] ([ID], [GUID], [Name]) VALUES (3, N'e62aa132-bcc2-40df-872f-e553ba156acb', N'Secondary unit')
SET IDENTITY_INSERT [dbo].[ItemTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Scores] ON 

INSERT [dbo].[Scores] ([ID], [GUID], [Name]) VALUES (1, N'a659f251-5f26-404a-80f4-17dac4ff2ecd', N'Location')
INSERT [dbo].[Scores] ([ID], [GUID], [Name]) VALUES (2, N'f3725fbe-1a7f-4133-8d8d-bdc7ed74000c', N'Cleanliness ')
INSERT [dbo].[Scores] ([ID], [GUID], [Name]) VALUES (3, N'9f87423a-cd27-4d61-80be-1627f9c4d4bb', N'Value for money')
SET IDENTITY_INSERT [dbo].[Scores] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ID], [GUID], [ServiceTypeID], [Name], [Price], [Duration], [Description], [DayOfWeek], [DayOfMonth], [DailyCap], [BookingCap]) VALUES (37, N'65217ab4-a5b4-4194-a7e1-edbb1861b08e', 1, N'Seoul Special PACK ', CAST(390.00 AS Decimal(10, 2)), 2, N'Two day we will visit the famous historic and cultural, National museum of korea,Nansam Tower,Gyeongbokgung and …', N' ', N'*', 29, 1)
INSERT [dbo].[Services] ([ID], [GUID], [ServiceTypeID], [Name], [Price], [Duration], [Description], [DayOfWeek], [DayOfMonth], [DailyCap], [BookingCap]) VALUES (38, N'cac808cf-8ec2-4997-bd0a-bf49ded0ecdd', 1, N'Night Pack', CAST(98.00 AS Decimal(10, 2)), 1, N'Night couse 19:30PM ()Gwanghwamun ', N' ', N'*', 29, 1)
INSERT [dbo].[Services] ([ID], [GUID], [ServiceTypeID], [Name], [Price], [Duration], [Description], [DayOfWeek], [DayOfMonth], [DailyCap], [BookingCap]) VALUES (39, N'3d1af41f-d9e7-4de4-b937-d78d0ecc57ba', 1, N'Tour D. 야경코스', CAST(140.00 AS Decimal(10, 2)), 1, N'The night course offers a beautiful view of Seoul with the Han River in its arms.', N' ', N'*', 42, 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([ID], [GUID], [Name], [IconName], [Description]) VALUES (1, N'2d743a10-266e-43af-b932-249f06115052', N'City tours', N'207-eye.png', N'The City Tour services provide transportation for tourists over a fixed route that lets passengers get on and off an unlimited number of times per day')
INSERT [dbo].[ServiceTypes] ([ID], [GUID], [Name], [IconName], [Description]) VALUES (2, N'ddd1bd05-0afb-4943-b199-bbc4e81b4886', N'Attraction tickets', N'016-camera.png', N' We issue gate-ready theme park tickets and can deliver')
INSERT [dbo].[ServiceTypes] ([ID], [GUID], [Name], [IconName], [Description]) VALUES (3, N'91ee94cd-ebde-4e9c-971f-7b78364d471d', N'Airport Transfer', N'176-airplane.png', N'Airport Taxi/Reservation/Booking Private Car, Luxuary, Van at the Best Price.')
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([ID], [GUID], [UserID], [TransactionTypeID], [Amount], [TransactionDate], [GatewayReturnID]) VALUES (1, N'd8db0651-5f42-43ee-b0a0-4548641e8728', 4, 1, CAST(90.00 AS Decimal(18, 2)), CAST(N'2022-09-10' AS Date), N'23866013-4fc0-4c15-9a9b-ad9ad16b62a5')
INSERT [dbo].[Transactions] ([ID], [GUID], [UserID], [TransactionTypeID], [Amount], [TransactionDate], [GatewayReturnID]) VALUES (2, N'cb02ad27-27d0-4c31-b62e-ef5814547f64', 7, 1, CAST(400.00 AS Decimal(18, 2)), CAST(N'2022-10-01' AS Date), N'861de443-a437-45af-ac8c-2319fd2c11a1')
INSERT [dbo].[Transactions] ([ID], [GUID], [UserID], [TransactionTypeID], [Amount], [TransactionDate], [GatewayReturnID]) VALUES (3, N'b4b877e0-362d-4356-82a9-11fe28de6ece', 4, 1, CAST(100.00 AS Decimal(18, 2)), CAST(N'2022-09-25' AS Date), N'c85463f9-f8a9-4a86-a1a4-6043ad9f4594')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([ID], [GUID], [Name]) VALUES (1, N'b3c4ff7f-fb2d-4a2b-bca3-85cdc73985d0', N'Deposit')
INSERT [dbo].[TransactionTypes] ([ID], [GUID], [Name]) VALUES (2, N'54882944-54e6-4b07-b0b5-4f6d6bfd9b3e', N'Withdraw')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [GUID], [UserTypeID], [Username], [Password], [FullName], [Gender], [BirthDate], [FamilyCount]) VALUES (1, N'3fa2814d-a355-4169-9a23-b3476f8c7083', 1, N'sonia1980', N'1980', N'Sonia Edvard', 1, CAST(N'1980-12-02' AS Date), 1)
INSERT [dbo].[Users] ([ID], [GUID], [UserTypeID], [Username], [Password], [FullName], [Gender], [BirthDate], [FamilyCount]) VALUES (2, N'b36658f2-e2e7-4a89-a60f-0861b77640cb', 2, N'sirvard', N'9090', N'Nerses Sirvard', 0, CAST(N'1975-01-01' AS Date), 5)
INSERT [dbo].[Users] ([ID], [GUID], [UserTypeID], [Username], [Password], [FullName], [Gender], [BirthDate], [FamilyCount]) VALUES (3, N'2fd71d03-5d51-4015-a4b2-2f337692d919', 2, N'tomas', N'0000', N'tomas jacson', 0, CAST(N'1985-02-03' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([ID], [GUID], [Name]) VALUES (1, N'fa3aa07f-020b-43c1-a733-6a564e1e1683', N'employee')
INSERT [dbo].[UserTypes] ([ID], [GUID], [Name]) VALUES (2, N'be7a2e2a-2d65-46bc-88b4-e79ef66be3a1', N'user')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
GO
ALTER TABLE [dbo].[AddonServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_AddonServiceDetails_AddonServices] FOREIGN KEY([AddonServiceID])
REFERENCES [dbo].[AddonServices] ([ID])
GO
ALTER TABLE [dbo].[AddonServiceDetails] CHECK CONSTRAINT [FK_AddonServiceDetails_AddonServices]
GO
ALTER TABLE [dbo].[AddonServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_AddonServiceDetails_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ID])
GO
ALTER TABLE [dbo].[AddonServiceDetails] CHECK CONSTRAINT [FK_AddonServiceDetails_Services]
GO
ALTER TABLE [dbo].[AddonServices]  WITH CHECK ADD  CONSTRAINT [FK_AddonServices_Coupons] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([ID])
GO
ALTER TABLE [dbo].[AddonServices] CHECK CONSTRAINT [FK_AddonServices_Coupons]
GO
ALTER TABLE [dbo].[AddonServices]  WITH CHECK ADD  CONSTRAINT [FK_AddonServices_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[AddonServices] CHECK CONSTRAINT [FK_AddonServices_Users]
GO
ALTER TABLE [dbo].[Attractions]  WITH CHECK ADD  CONSTRAINT [FK_Attractions_Areas] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([ID])
GO
ALTER TABLE [dbo].[Attractions] CHECK CONSTRAINT [FK_Attractions_Areas]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([ID])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_Bookings]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetails_PlacePrices] FOREIGN KEY([ItemPriceID])
REFERENCES [dbo].[ItemPrices] ([ID])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [FK_BookingDetails_PlacePrices]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Coupons] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Coupons]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Transactions]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[CancellationRefundFees]  WITH CHECK ADD  CONSTRAINT [FK_CancellationRefundFees_CancellationPolicies] FOREIGN KEY([CancellationPolicyID])
REFERENCES [dbo].[CancellationPolicies] ([ID])
GO
ALTER TABLE [dbo].[CancellationRefundFees] CHECK CONSTRAINT [FK_CancellationRefundFees_CancellationPolicies]
GO
ALTER TABLE [dbo].[ItemAmenities]  WITH CHECK ADD  CONSTRAINT [FK_PlaceAmenities_Amenities] FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenities] ([ID])
GO
ALTER TABLE [dbo].[ItemAmenities] CHECK CONSTRAINT [FK_PlaceAmenities_Amenities]
GO
ALTER TABLE [dbo].[ItemAmenities]  WITH CHECK ADD  CONSTRAINT [FK_PlaceAmenities_Places] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[ItemAmenities] CHECK CONSTRAINT [FK_PlaceAmenities_Places]
GO
ALTER TABLE [dbo].[ItemAttractions]  WITH CHECK ADD  CONSTRAINT [FK_PlaceSightseeingLocations_Places] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[ItemAttractions] CHECK CONSTRAINT [FK_PlaceSightseeingLocations_Places]
GO
ALTER TABLE [dbo].[ItemAttractions]  WITH CHECK ADD  CONSTRAINT [FK_PlaceSightseeingLocations_SightseeingLocations] FOREIGN KEY([AttractionID])
REFERENCES [dbo].[Attractions] ([ID])
GO
ALTER TABLE [dbo].[ItemAttractions] CHECK CONSTRAINT [FK_PlaceSightseeingLocations_SightseeingLocations]
GO
ALTER TABLE [dbo].[ItemPictures]  WITH CHECK ADD  CONSTRAINT [FK_PlacePictures_Places] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[ItemPictures] CHECK CONSTRAINT [FK_PlacePictures_Places]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [FK_PlacePrices_CancellationPolicies] FOREIGN KEY([CancellationPolicyID])
REFERENCES [dbo].[CancellationPolicies] ([ID])
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [FK_PlacePrices_CancellationPolicies]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [FK_PlacePrices_Places] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [FK_PlacePrices_Places]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Areas] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Areas]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Places_PlaceTypes] FOREIGN KEY([ItemTypeID])
REFERENCES [dbo].[ItemTypes] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Places_PlaceTypes]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Places_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Places_Users]
GO
ALTER TABLE [dbo].[ItemScores]  WITH CHECK ADD  CONSTRAINT [FK_ItemScores_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ID])
GO
ALTER TABLE [dbo].[ItemScores] CHECK CONSTRAINT [FK_ItemScores_Items]
GO
ALTER TABLE [dbo].[ItemScores]  WITH CHECK ADD  CONSTRAINT [FK_ItemScores_Scores] FOREIGN KEY([ScoreID])
REFERENCES [dbo].[Scores] ([ID])
GO
ALTER TABLE [dbo].[ItemScores] CHECK CONSTRAINT [FK_ItemScores_Scores]
GO
ALTER TABLE [dbo].[ItemScores]  WITH CHECK ADD  CONSTRAINT [FK_ItemScores_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ItemScores] CHECK CONSTRAINT [FK_ItemScores_Users]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceTypes] FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[ServiceTypes] ([ID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceTypes]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_TransactionTypes] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionTypes] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_TransactionTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserTypes] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserTypes] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserTypes]
GO
